/* CSS Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
:root {
	--bg-primary: #4e5266;
	--bg-secondary: #575B72;
	--color-primary: #4cabb1;
	--color-secondary: #69c7ad;
	--color-tertiary: #fed586;
	--font: 'Raleway', sans-serif;
	--text-color: #434b56;
	--heading-color: #fff;
	font-size: 16px;
}
body {
	font-family: var(--font);
	line-height: 1.5;
	color: var(--text-color);
}


/********** Base CSS *************/
*, *:before, *:after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: black;
}
button {
	border: 0;
	cursor: pointer;
}
button:focus {
	outline: 0;
}
input {
	border: 0;
	margin: 0;
}
input:focus {
	outline: 0;
}
/** Heading Elements **/
h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
h3 {
	font-size: 2rem;
	font-weight: 700;
}
h4 {
	font-size: 1.5rem;
	font-weight: 700;
}
h5 {
	font-size: 1rem;
	font-weight: 700;
}
h6 {
	font-size: 0.8rem;
	font-weight: 700;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.img-responsive {
	width: 100%;
}
/** clearfix **/
.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* General */
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.padding {
	padding: 80px 0;
}
.heading {
	color: var(--heading-color);
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
}
.heading-secondary {
	color: var(--text-color);
}
.sub-heading {
	font-weight: 400;
	color: #b6babf;
}

// Conduit Styles begin here

// Navigation Menu

.nav {
	display: flex;
	justify-content: space-around;
	// padding: 10px;
	align-items: baseline;

	.nav-logo {
		padding: 5px;
		color: #5CB85C;
		font-family: "Titillium Web", sans-serif;
		
		h5 {
			font-size: 14px;
			font-weight: bold;
		}
	}

	ul {
		display: flex;
		justify-content: space-around;
		

		li {
			margin: 1px;
			font-size: 8px;
			color: rgba(0, 0, 0, 0.3);

			// .navigation-link {
			// 	color: rgba(0, 0, 0, 0.3);
			// }
			
		}
	}
}

// Hero Section

.hero {
	text-align: center;
	background-color: #5CB85C;
	color: #fff;
	padding: 14px;
	margin-bottom: 10px;
	font-family:"Titillium Web", sans-serif;
	box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);

	h2 {
		font-size: 26px;
		font-weight: bold;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	}

	p {
		 color: rgb(226, 226, 226);
		 font-weight: normal;
		 font-size: 14px;
		 font-family:"Source Sans Pro", sans-serif;
		 
	}
}

// Global Feed section

.super {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	padding: 10px;


	.article-wrapper {
		width: 700px;

		h2 {
			font-size: 12px;
			font-weight: 500;
			color: #5CB85C;
			border-bottom: 0.5px solid lightgray;
		}

		.post {
			width: 100%;
			border-bottom: 0.5px solid lightgray;
			padding-bottom: 10px;
			padding: 10px;

			.post-header {
				display: flex;
				justify-content: space-between;

				.likes {
					display: flex;
					width: 25px;
					height: 20px;
					border: 0.75px solid #5CB85C;
					font-size: 14px;
					border-radius: 2px;
					align-items: baseline;
					position: relative;

					.heart {
						color: #5CB85C;
						margin-right: 1px;
						font-size: 14px;
						position: absolute;
						left: 4px;
						bottom: 0.1px;
					
					}
					.article-count {
						font-size: 12px;
						color: #5CB85C;
						position: absolute;
						right: 4px;
						bottom: 1.2px;
					}
				}

				.likes:hover {
					background-color: #5CB85C;
					
					.heart {
						color: #fff;
					}
					.article-count {
						color: #fff;
					}
				}
			}

			.post-details {
				display: flex;
				justify-content: flex-start;
				align-content: baseline;
				position: relative;
				
				img {
					width: 26px;
					height: 26px;
					border-radius: 50%;
				}

				.user-info {
					width: 100px;
					padding-left: 5px;
					position: absolute;
					left: 26px;
					top: -7px;
					
					h4 {
						font-size: 10px;
						color: #5CB85C;
					}

					p {
						font-size: 6px;

					}
				}
			}
		}
	}

	.post-content {
		margin-top: 30px;

		.post-title {
			font-size: 14px;
			font-weight: bold;
		}

		.post-description {
			font-size: 10px;
			color: rgb(194, 191, 191) 
		}

		button {
			background-color: transparent;
			font-size: 8px;
			color: rgb(218, 216, 216)
		}
	}

	.tag-container {
		max-width: 250px;
		background: #f3f3f3;
		width: 100%;
		padding: 8px;
		margin-left: 5px;

		h4 {
			font-size: 16px;
			font-weight: normal;
		}

		.tags {

			p {
				display: inline-block;
				padding: 2px 6px;
				color: #fff;
				background: #9da1a5;
				border-radius: 15px;
				margin: 2px;
				font-size: 10px;
			}
			p:hover {
				cursor: pointer;
				background-color: #828588;
			}
		}
	}
}


// Signup Styles

.signup-container {
	width: 300px;
	margin: 0 auto;
	text-align: center;

	h2 {
		font-size: 26px;
		font-weight: normal;
	}

	p {
		font-size: 14px;
		color: #5CB85C;
	}

	.form-control {
		display: block;
		width: 100%;
		padding: 0.5rem 0.75rem;
		font-size: 1rem;
		line-height: 1.25;
		color: #55595c;
		background-color: #fff;
		background-image: none;
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: 2px;
		margin: 7px;
	}

	.form-control::placeholder  {
		color: #9e9fa0;
	}

	.submit-btn {
		color: #fff;
		background-color: #5CB85C;
		border-color: #5CB85C;
		padding: 10px;
		border-radius: 4px;
		line-height: 1.1;
	}
}

// Route Styles

.navigation-link {
	padding: 0 5px 0 0;
	display: inline-block;
}

.active {
	color: black;
}

// User Styles

.user-section {
	text-align: center;
	background-color: #f3f3f3;
	padding: 16px;

	.user-hero {
		max-width: 600px;
		margin: 0 auto;

		img {
			width: 50px;
			height: 50px;
			border-radius: 100px;
		}

		.follow-btn {
			text-align: end;
			
			button {
				border: 0.5px solid rgb(131, 130, 130);
				border-radius: 2px;
				background-color: #f3f3f3;
				color: #817c7c;
				font-size: 10px;

			}
		}
	}
}

// Styles overriding certain elements in User section
.super-addn {
	max-width: 600px;
	padding: 10px;
	display: flex;
	justify-content: center;

	.article-addn {
		max-width: 600px;
	}
}

// Article Component Styles

.article-comp-container {
	background-color: #373a3c;
}

.article-section {
	max-width: 700px;
	margin: 0 auto;
	padding: 25px;
	color: #fff;

	h2 {
		font-size: 18px;

	}
	.article-author {
		display: flex;
		justify-content: flex-start;
		

		img {
			width: 18px;
			height: 18px;
			border-radius: 50%;
		}

		.author-info {
			padding-left: 5px;
			
			h4 {
				font-size: 8px;
			}

			p {
				font-size: 8px;
				color: #bbbbbb;
			}
		}

		.article-follow-btn {
			margin-left: 5px;

			.btn-article {
				font-size: 10px;
				padding:2px 6px;
				font-size: 8px;
				border-radius: 2px;
				margin-left: 5px;
				background-color: transparent;
			}

			button:first-child {
				border: 0.5px solid rgb(131, 130, 130);
				border-radius: 2px;
				color: #bbbbbb;
			}	

			button:last-child {
				border: 0.5px solid #5CB85C;
				border-radius: 2px;
				color: #5CB85C;
			}	
		}
	}
}

.mid-section {
	color: black;

	h4 {
		color: #5CB85C;
	}
	.navlink-article  {
		display: flex;
		align-items: baseline;

		p {
			color: #5CB85C;

		}

		.add-comments {
			color: black;
		}
	}
}

.article-mid {
	// justify-content: center;
}